<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    
    </head>

    <body>
    <div id=app>
        <div class="form-group" v-for="(input,k) in inputs" :key="k">
          <input type="text" class="form-control" v-model="input.party">
          <span>
            <i class="fas fa-minus-circle" v-on:click="remove(k)" v-show="k || ( !k && inputs.length > 1)">Remove</i> 
          </span>
        </div>
        <i class="fas fa-plus-circle" v-on:click="add(k)">Add fields</i> 
        <i class="fas fa-minus-circle" v-on:click="removeAll(k)">Delete All</i> 
        <br><br>     
        <button v-on:click="addCandidate">
          Submit
        </button>
      </div>
    
   </body>
   <script src="https://unpkg.com/vue@next"></script>
   <script>
    Vue.createApp({
        data () {
            return {
                inputs: [ ]
            }
        },

        methods: {
            add () {
                this.inputs.push({
                party: ''
                })
                console.log(this.inputs)
            },

            remove (index) {
                this.inputs.splice(index, 1)
            },
            
            removeAll(){
                this.inputs.splice(0)
            }
        }
    }).mount('#app');
   </script>
</html>