<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div id="app">
        <input type="button" @click="add" value="Add" /> <br /><br />
        <div v-for="(item, index) in list">
            <input type="text" :value="item" @input="input($event,index)" /><button v-on:click="remove(index)">Remove</button>
        </div>
        <button v-on:click="clearAll()">ClearAll</button>
        <button v-on:click="save()">Save</button>
        <ul>
            <li v-for="item in list">
                <p>{{item}}</p>
            </li>
        </ul>
    </div>
    <script>
        const vueApp = Vue.createApp({
            data() {
                return { list: ['qwe', 'asd']  }
            },
            methods: {
                input: function (event, index) {
                    this.list[index] = event.target.value;
                },
                add: function () {
                    this.list.push('');
                },
                remove: function (index) {
                    this.list.splice(index, 1);
                },
                clearAll: function () {
                    this.list = [];
                },
                save: function () {
                    $.ajax({
                        method: "POST",
                        url: "https://localhost:44310/Home/Save",
                        data: { 'list': this.list }
                    }).done(function (msg) {
                        alert("Data Saved: " + msg);
                    });
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
